
.curseclient
.mixin.out
backups
defaultconfigs
downloads
journeymap
local
logs
openloader
resourcepacks
saves
schematics
screenshots
scripts
skyblock_exports
minecraftinstance.json
options.txt
realms_persistence.json
usercache.json
usernamecache.json